<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div id="pic1" class="pic1"></div>
        <div id="area2" class="area2">
            <div class="pic2"></div>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
            <h2 class="content">sfasfasf</h2>
        </div>

    </div>


    <button id="btn" onclick="clickme()" class="btn">click</button>
</body>
<script>

    function clickme() {
        document.getElementById("pic1").classList.add("pic1transform");
        document.getElementById("area2").classList.add("area2transform");
        document.getElementById("btn").style.display = "none";

        $("html").css({"overflow": "scroll"});
    }
   

</script>
</html>